* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.header {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
}

.header h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    text-transform: capitalize;
    line-height: 1;
    padding-top: 20px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.box {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: translateX(-400%);
    transition: transform 0.5s ease;
}

.box:nth-of-type(even) {
    transform: translateX(400%);
}

.box.show {
    transform: translateX(0);
}

.plr-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.img-dec {
    padding: 20px !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.img-dec h2 {
    margin-bottom: 15px;
    font-size: 24px;
}